<p>signin works!</p>
<a routerLink="depenses">Depenses</a>
<button (click)="goDepenses()">Continuer vers Dépenses</button>
<!-- formulaire de log in -->
<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form> -->
